<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
    <link rel="stylesheet" href="css/style1.css">
</head>
<body>
    <div class="container">
        <h1>Thank you <%= name %> for the feedback</h1>
        <p>Your message has been received.</p>
        <div class="tick-icon">
            <span>&#10004;</span>
          </div>
      </div>
</body>
</html>
<h1></h1>